rabbit.tracking.core/schema/Resource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">
		
	<xs:element name="resources" type="resourceListType" />
	
	<xs:complexType name="resourceListType">
		<xs:sequence>
			<xs:element name="resource" type="resourceType" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="resourceType">
		<xs:sequence>
			<xs:element name="resourceId" type="xs:string" maxOccurs="unbounded" minOccurs="1" />
		</xs:sequence>
		<xs:attribute name="path" type="xs:string" use="required" />
	</xs:complexType>
</xs:schema>